body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: sans-serif;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.slider-container {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
  position: relative;
  margin: 20px auto;
}

.slider-track {
  display: flex;
  width: calc(1920px * 3);
  transition: transform 1s ease-in-out;
}

.slide {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Ok tuşları */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 36px;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
  z-index: 1;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.2);
}

.left {
  left: 15px;
}

.right {
  right: 15px;
}

